@import "./_variables";
@import "./_custom-table";

@import "./_mixins";

@import "./custom.scss";
.custom-navbar {
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid #019aff54;
    padding-top: 15px;
    padding-bottom: 15px;

    a.btn-icon {
        @include button-style($brand-color);
    }

    .navbar-nav a {
        .nav-link:hover {
            color: $brand-color;
            li {
                a {
                    color: $brand-color;
                    font-weight: 700;
                }

                &.active {
                    color: $brand-color;
                    font-weight: 700;
                    border-bottom: 5px solid $brand-color;
                    &:hover a.nav-link {
                        color: #fff;
                        background-color: $brand-color-dark;
                    }
                }
            }
        }
    }

    .navbar-header {
        img.navbar-brand {
            width: 100%;
            padding-top: 10px;
        }

        a.navbar-brand {
            color: #000;
            font-weight: 700;
            padding-top: 1px;
            padding-right: 0;
            border: 1px solid #fff;
            background-color: #fff;
        }
    }
}

.book-details1 {
    background-color: $bg-color-book2D;
    .book-info {
        background-color: $bg-color-book1;
        color: #fff;
    }

    .info-box {
        color: $bg-color-book2;

        box-shadow: 0 0 30px $bg-color-book2;

        padding: 20px 0 30px 0;

        h3 {
            color: $bg-color-book2;
        }
    }

    input,
    textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 20px;
    }
    &:focus,
    &:focus {
        border-color: $bg-color-book2;
    }
}
.book-details2 {
    background-color: $bg-color-book1D;
    .book-info {
        background-color: $bg-color-book2;
        color: #fff;
    }

    .info-box {
        color: $bg-color-book1;

        box-shadow: 0 0 30px $bg-color-book1;

        padding: 20px 0 30px 0;

        h3 {
            color: $bg-color-book1;
        }
    }

    input,
    textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 20px;
    }
    &:focus,
    &:focus {
        border-color: $bg-color-book1;
    }
}
